{{> menu active="about"}}

<section class="section">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title is-size-2">Locale History</h1>
      <br>
      <p class="subtitle is-size-5">A people's history map for users to submit their own local knowledge and points of interest.</p>
    </div>
    <div class="column">
      <img src="./images/woman.png" alt="image" width="600" height="400">
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-vcentered">
      <div class="column">
      <img src="./images/ship.png" alt="image" width="600" height="400">
    </div>
    <div class="column">
      <h1 class="title is-size-2">Using the app:</h1>
      <br>
      <p class="subtitle is-size-5">Simply navigate to the dashboard to add a street. Then, you can add placemarks for that street, for example:</p>
      <ul class="bulleted-list">
        <li>Landmarks such as statues</li>
        <li>Famous locals from the street</li>
        <li>Historic events that took place there</li>
      </ul>
    </div>
  </div>
</section>