{{> welcome-menu}}

<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    <div class="box has-background-primary has-text-white">
      <h1 class="is-size-2">Welcome to Locale History</h1>
      <h2 class="is-size-4">People's history - i.e. the events and stories of normal people and communities - can be hard to learn about and find without insider or local knowledge. This web app will allow users to add, collate and share points of interest to facilitate sharing and preserving stories both within the local community, and for interested visitors.</h2>
      <h3 class="is-size-5">Sign up or log in to add your own points of interest.</h3>
    </div>
  </div>
  <div class="column">
    <img src="./images/woman.png" alt="Image" width="600" height="400">
  </div>
</div>
