{{> menu}}

<section class="section columns is-vcentered">
  <div class="column is-left">
    <div class="title">
      {{street.name}}
    </div>
    {{> list-placemarks}}
    {{> add-placemark}}
  </div>
  <div class="column is-right">
    {{> street-image }}
  </div>
</section>
