
  <form action="/dashboard/addstreet" method="POST">
    <div class="field">
      <label class="label">Street name</label>
      <input class="input" type="text" placeholder="Enter street name" name="name">
    </div>
    <button class="button is-link">Add Street</button>
  </form>